instana_api_token = "{{ instana_api_token }}"
instana_endpoint = "{{ instana_api_endpoint }}"

project_name = "{{ app_namespace }}-{{ app_name }}"

instana_query = "host.zone EQUALS '{{ instana_zone_name }}'"
